<section class="about">
  <div class="main">
    <img class="image" src="../../../assets/Images/Comau.png" alt="">

    <div class="about-text">
      <h2>About Me</h2>
      <h5>Developer</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="under-text">
    <ul class="socials">
      <li><a href="https://github.com/Leonardo-Gomiero" target="_blank"><fa-icon [icon]="github"></fa-icon></a></li>
      <li><a href="https://www.linkedin.com/in/leonardo-gomiero/" target="_blank"><fa-icon [icon]="linkedin"></fa-icon></a></li>
      <li><a href="https://wa.me/5511983367853" target="_blank"><fa-icon [icon]="whatsapp"></fa-icon></a></li>
      <li><a href="mailto:leonardo.gomiero.c.c@gmail.com" target="_blank"><fa-icon [icon]="email"></fa-icon></a></li>
    </ul>
  </div>
</section>
