*{
  font-family: 'Montserrat', sans-serif;
}

section.about {
  background-color: rgb(26, 26, 73);
  margin: 3vh auto 3vh auto;
  width: 100vh;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.about img {
  width: 35vh;
}

.about-text {
  width: 50vh;
  height: auto;
}

.under-text{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3vh;
}

.about-text h2 {
  color: white;
  font-size: 5vh;
  text-transform: capitalize;
  margin: 0;
}

.thin {
  color: white;
  font-size: 6vh;
  text-transform: capitalize;
  margin: 0;
  font-weight: 100;
}

.about-text h5 {
  color: white;
  letter-spacing: 0.3vh;
  font-size: 2.6vh;
  margin: 0;
  text-transform: capitalize;
}

.about-text p {
  color: white;
  letter-spacing: 0.2vh;
  line-height: 2vh;
  font-size: 2vh;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a:hover {
  text-decoration: none;
  color: aqua;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}


.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vh 0 0.8vh;
}

.list-group h5 {
  color: white;
  font-size: 1.7vh;
  margin: 0;
  text-transform: capitalize;
}

.badge {
  color: white;
  text-align: right;
}

/* CSS */
.button-18 {
  align-items: center;
  border: 0;
  background-color: white;
  border-radius: 0.3vh;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  width: 20vh;
  height: 5.7vh;
  overflow: hidden;
  padding: 0 2vh 0 2vh;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  box-shadow: 0 1.5vh 2vh rgba(0, 0, 0, .5);
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

@media screen and (max-width: 600px){

  .main{
    display: flex;
    flex-direction: column;
  }

  section.about{
    width: 90%;
    margin: 5%;
  }

  .about-text {
    width: 90%;
  }

  .about-text h2{
    font-size: 3.8vh;
  }

  .about-text h5{
    font-size: 1.5vh;
  }

  .about-text li{
    font-size: 1.5vh;
  }

}
