*{
  font-family: 'Montserrat', sans-serif;
}

section.about {
  background-color: rgb(26, 26, 73);
  margin: 3vh auto 3vh auto;
  width: 100vh;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.about img {
  width: 35vh;
}

.about-text {
  width: 50vh;
  height: auto;
}

.under-text{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3vh;
}

.about-text h2 {
  color: white;
  font-size: 5vh;
  text-transform: capitalize;
  margin: 0;
}

.thin {
  color: white;
  font-size: 6vh;
  text-transform: capitalize;
  margin: 0;
  font-weight: 100;
}

.about-text h5 {
  color: white;
  letter-spacing: 0.3vh;
  font-size: 2.6vh;
  margin: 0;
  text-transform: capitalize;
}

.about-text p {
  color: white;
  letter-spacing: 0.2vh;
  line-height: 2vh;
  font-size: 2vh;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a:hover {
  text-decoration: none;
  color: aqua;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}


.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vh 0 0.8vh;
}

.list-group h5 {
  color: white;
  font-size: 1.7vh;
  margin: 0;
  text-transform: capitalize;
}

.badge {
  color: white;
  text-align: right;
}

@media screen and (max-width: 600px){

  .main{
    display: flex;
    flex-direction: column;
  }

  section.about{
    width: 90%;
    margin: 5%;
  }

}
