<header>
  <nav class="nav-bar">
    <div class="logo">
      <h1>Leonardo Capoccia</h1>
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">So Far</a></li>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Academic Background</a>
        </li>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Professional
            Background</a></li>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Certifications and
            Courses</a></li>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Soft Skills</a></li>
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Languages</a></li>
      </ul>
    </div>

    <div class="mobile-menu-icon">
      <button onclick="menuShow()"><img class="icon" src="./assets/menu_white_36dp.svg" alt=""></button>
    </div>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">So Far</a></li>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Academic Background</a></li>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Professional Background</a>
      </li>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Certifications and
          Courses</a></li>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Soft Skills</a></li>
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Languages</a></li>
    </ul>

  </div>
</header>

<router-outlet></router-outlet>


<footer>
  <div class="footer-content">
    <h3>Software Developer</h3>
    <p>My passion transfigured into code.</p>
    <ul class="socials">
      <li><a href="https://github.com/Leonardo-Gomiero" target="_blank"><fa-icon [icon]="github"></fa-icon></a></li>
      <li><a href="https://www.linkedin.com/in/leonardo-gomiero/" target="_blank"><fa-icon [icon]="linkedin"></fa-icon></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023. designed by <span>Leonardo Capoccia</span></p>
  </div>
</footer>
